extends layout

block content
	div(class="hero-unit")
		h3 User Story
		form(class="form-horizontal", action="/add", method="post")
			div(class="control-group")
				label(class="control-label", for="name") Name
				div(class="controls")
					input(type="text", name="name", required)
			div(class="control-group")
				label(class="control-label",for="description") Description
				div(class="controls")
					input(type="text", name="description", required)
			div(class="control-group")
				label(class="control-label",for="pair") Pair
				div(class="controls")
					input(type="text", name="pair_one", required)
			div(class="control-group")
				div(class="controls")
					input(type="text", name="pair_two", required)
			div(class="control-group")
				div(class="controls")
					input(type="submit", value="Submit", class="btn")