extends layout

block content
  div.container
    div.container
      div.row-fluid
        div.span3
          img(src="/images/headshot.jpg")
        div.span8
          p=bio
        hr
        div
          div.span7
            |Proin in dui sapien, non porttitor ligula. Sed auctor congue tempus. Cras risus enim, molestie a congue non, mattis vitae tortor. Ut sollicitudin ultricies tempus. Nunc non neque ut ipsum dictum sagittis id sed enim. Cras ultrices, libero eu egestas ultricies, tortor orci vulputate lorem, in consectetur magna justo sed massa. Donec vel diam sapien. Praesent condimentum luctus ligula, sed dictum velit placerat eget.
          div.span4
            h2
              | Really important text!
      div.row-fluid
        div.span5
          br
          div.row-fluid
            h3
              |Jeremy Bernstein
            a(href="/resume")
              |Resume
            br
            a(href="mailto:dr.jerm.io@gmail.com")
              |dr.jerm.io@gmail.com
            p
              |505-353-1300

