extends layout

block content
	div.row
		div.span3
			| Image here
		div.span8
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit tincidunt lorem sagittis aliquam. Sed aliquam, mauris tempus fringilla fermentum, neque erat accumsan urna, eget aliquam risus mi vitae nunc. In in arcu elit. Sed lectus lacus, aliquam eget pharetra sit amet, consectetur sed metus. Ut pharetra, augue id dapibus viverra, ipsum tellus consequat ante, scelerisque malesuada nisi diam non enim. Aliquam erat volutpat. Vivamus pulvinar aliquam neque nec condimentum. Quisque consequat hendrerit nisi. Sed faucibus luctus semper. Ut sem erat, egestas eu consectetur a, commodo nec ante. Pellentesque tristique tempor nulla fringilla consectetur. Pellentesque pulvinar gravida leo id elementum. Curabitur at dui nulla, nec dignissim odio. 
	div.row
		div.span7
			|Proin in dui sapien, non porttitor ligula. Sed auctor congue tempus. Cras risus enim, molestie a congue non, mattis vitae tortor. Ut sollicitudin ultricies tempus. Nunc non neque ut ipsum dictum sagittis id sed enim. Cras ultrices, libero eu egestas ultricies, tortor orci vulputate lorem, in consectetur magna justo sed massa. Donec vel diam sapien. Praesent condimentum luctus ligula, sed dictum velit placerat eget.
		div.span4
			h2
				| Really important text!
	div.row
		div.span5
			br
			div.row
				h3
					|Jeremy Bernstein
				a(href="/resume")
					|Resume
				br
				a(href="mailto:dr.jerm.io@gmail.com")
					|dr.jerm.io@gmail.com
				p
					|505-353-1300

