extends layout

block content
  script
    (function($){
        $(document.body).css("overflow", "visible");
      })(jQuery);
  div.container
      div.row
        // Left Column
        div.span7
          div.row.well
            h3 Bio
            p=bio
          div.row
            h3 Skills
            p Curabitur suscipit facilisis ligula. Donec id nisi vel est tristique dignissim in a neque. Cras eget augue eu metus tempus lobortis non a orci. Nam mattis quam id nisi volutpat vitae lobortis mi mattis. Ut id sodales sem. Donec tristique convallis scelerisque. Mauris neque sapien, congue id malesuada id, euismod in lorem. Aenean interdum, libero vel pellentesque ornare, lectus purus ultricies nisl, fringilla pharetra quam justo sed metus. 
          div.row.well
            h3 Goals
            p Curabitur suscipit facilisis ligula. Donec id nisi vel est tristique dignissim in a neque. Cras eget augue eu metus tempus lobortis non a orci. Nam mattis quam id nisi volutpat vitae lobortis mi mattis. Ut id sodales sem. Donec tristique convallis scelerisque. Mauris neque sapien, congue id malesuada id, euismod in lorem. Aenean interdum, libero vel pellentesque ornare, lectus purus ultricies nisl, fringilla pharetra quam justo sed metus. 
        // Right Column
        div.span4.offset1
          div.row
            h3
              |Jeremy Bernstein
            a(href="/JeremyBernstein_Resume_3_2013.pdf", target="blank_")
              |Resume
            br
            a(href="mailto:dr.jerm.io@gmail.com", target="blank_")
              |dr.jerm.io@gmail.com
            p
              |505-353-1300
            hr
          div.row
            img(src="/images/headshot.jpg")
            hr
          div.row.well
            h3 For fun!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu mauris eu ligula dignissim consectetur. Ut aliquam, leo quis faucibus. 