extends layout

block content
  script
    (function($){
        $(document.body).css("overflow", "visible");
      })(jQuery);
  div.container
      div.row
        // Left Column
        div.span7
          div.row.well
            h3 Bio
            p=bio.bio
          div.row
            h3 Skills
            !=bio.skills
          div.row.well
            h3 Goals
            p=bio.goals
        // Right Column
        div.span4.offset1
          div.row
            h3
              |Jeremy Bernstein
            a(href="/JeremyBernstein_Resume_3_2013.pdf", target="blank_")
              |Resume
            br
            a(href="mailto:dr.jerm.io@gmail.com", target="blank_")
              |dr.jerm.io@gmail.com
            p
              |505-353-1300
            hr
          div.row
            img(src="/images/headshot.jpg")
            hr
          div.row.well
            h3 For fun!
            !=bio.fun