div.portfolio-img-holder
  for vid in videos
    div(id=vid.youtubeCode+'_IMG_DIV', style="display:none;")
      img.portfolio-img(id=vid.youtubeCode+'_IMG', src='/images/'+vid.videoImage)
script(type="text/javascript")
  (function($){
    $('#eT4jobRvqlI_IMG_DIV').toggleClass('active-portfolio-img');
    $('#eT4jobRvqlI_IMG_DIV').css("display","inline");
    $(".portfolio-img-holder").on("click", ".portfolio-img", function(event){
      
      var code = event.target.id.substring(0,11);
      for (i in videosJSON){
        if(videosJSON[i].youtubeCode == code)
          launchVideo(videosJSON[i]);
      }
      swapPortfolioElement(event.target.id);

    })
  })(jQuery)