extends layout

block content
  #content_modal.modal.container.fade(style="display: none;")
    .modal-header
      div.row-fluid
        div.span4
          h3#contentTitle
        div.span4.text-left
          p#contentSubTitle
        div.span1.offset3
          a.close(data-dismiss='modal', style="color:white;") x
    .modal-body
      div.row-fluid
        div#vidContainer.text-center
          div#player
            script(src="//www.youtube.com/iframe_api")
      hr
      div.row-fluid
        div.span4
          div
            h5
              |Roles:
            p#contentResponsiblities
              |I did stuff
        div.span8
          div
            p#contentBody
              |Proin in dui sapien, non porttitor ligula. Sed auctor congue tempus. Cras risus enim, molestie a congue non, mattis vitae tortor. Ut sollicitudin ultricies tempus. Nunc non neque ut ipsum dictum sagittis id sed enim. Cras ultrices, libero eu egestas ultricies, tortor orci vulputate lorem, in consectetur magna justo sed massa. Donec vel diam sapien. Praesent condimentum luctus ligula, sed dictum velit placerat eget.
  div.row
    div.span3
      ul.nav.nav-tabs
        li.active
          a(data-toggle="tab", href="#code")
            |CODE
        li
          a(data-toggle="tab", href="#vfx")
            |VFX
        li
          a(data-toggle="tab", href="#producing")
            |PRODUCING
      div.tabbable
        div.tab-content.portfolio-listContent
          div.tab-pane.active.fade.in(id="code")
            each vid in videos
              - if(vid.type.indexOf("code") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
          div.tab-pane.fade(id="vfx")
            each vid in videos
              - if(vid.type.indexOf("vfx") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
          div.tab-pane.fade(id="producing")
            each vid in videos
              - if(vid.type.indexOf("producing") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
  div
    div#htmlPortfolio(style="display:none;")
      include htmlPortfolio
    div#html5portfolio(style="display:none;")
      include html5portfolio
  script(type="text/javascript")
    (function($){
      if(Detector.webgl){
        console.log("WebGL enabled!")
        $('#html5portfolio').css("display","inline");
      }
      else{
        console.log("Your client does not support WebGL!")
        $('#htmlPortfolio').css("display","inline");
      }

      $(".portfolio-listContent").on("click", ".portfolio-listItem", function(event){
        swapPortfolioElement(event.target.id);
      })

      window.onYouTubeIframeAPIReady = function(){
        player = new YT.Player('player', {
          //height: '390',
          //width: '640',
          //videoId: currVid,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        //YTplayer.div.click(killVideo);
        }
      window.onPlayerStateChange = function(event){
        if(event.data == 0){
          player.stopVideo();
        }
      }
  
      window.onPlayerReady = function(event) {
        player.loadVideoById(currVid);
        player.pauseVideo();
      }
      $('#content_modal').on('hide', function () {
        player.stopVideo();
      })



    })(jQuery)