extends layout

block content
  div.row
    div.span3
      ul.nav.nav-tabs
        li.active
          a(data-toggle="tab", href="#code")
            |CODE
        li
          a(data-toggle="tab", href="#vfx")
            |VFX
        li
          a(data-toggle="tab", href="#producing")
            |PRODUCING
      div.tabbable
        div.tab-content.portfolio-listContent
          div.tab-pane.active.fade.in(id="code")
            each vid in videos
              - if(vid.type.indexOf("code") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
          div.tab-pane.fade(id="vfx")
            each vid in videos
              - if(vid.type.indexOf("vfx") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
          div.tab-pane.fade(id="producing")
            each vid in videos
              - if(vid.type.indexOf("producing") !== -1)
                div.portfolio-listItem
                  p(id=vid.youtubeCode)=vid.title
  div
    div#htmlPortfolio(style="display:none;")
      include htmlPortfolio
    div#html5portfolio(style="display:none;")
      include html5portfolio
  script(type="text/javascript")
    (function($){
      if(Detector.webgl){
        console.log("WebGL enabled!")
        $('#html5portfolio').css("display","inline");
        console.log($('#html5portfolio'));
      }
      else{
        console.log("Your client does not support WebGL!")
        $('#htmlPortfolio').css("display","inline");
      }

      $(".portfolio-listContent").on("click", ".portfolio-listItem", function(event){
        console.log(event.target.id + " was clicked!");
        swapPortfolioElement(event.target.id);

      })
    })(jQuery)