!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="/images/favicon.png")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootstrap-modal.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.10.0.custom.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/portfolio.css')
    //-script(src='js/libs/modernizr-2.0.6.min.js')
    script(src="/js/jquery.min.js")
    script(src="/js/jquery.fitvids.min.js")
    script(src="/js/jquery-ui-1.10.0.custom.min.js")

    script(src="/socket.io/socket.io.js")
    script(src="/js/validator-min.js")
    script(src="/js/Detector.js")

    script(type="text/javascript")
      var exports = {};    
    script(src="/js/videos.js")
    script(src="/js/input.js")

    block head
  body
    div(class="navbar navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand",href="/") Jeremy Bernstein
          div.nav-collapse
            ul.nav
              li
                a#bio(href="/bio")
                  |About Me
              li
                a(href="#contact_modal", data-toggle='modal')
                  |Contact Me!
    #contact_modal.modal.fade(style="display: none;")
      form.form-horizontal(style="margin-bottom: 0px; z-index:20;")
        .modal-header
          a.close(data-dismiss='modal') x
          h3 Contact Me!
          | Shoot me a message
        .modal-body
          .control-group
            label.control-label(for='name') Name
            .controls
              input#name(type='text', name="name", placeholder='John Smith')
          .control-group
            label.control-label(for='org') Organization
            .controls
              input#org(type='text', name="Organization", placeholder='Awesome Inc.')
          .control-group
            label.control-label(for='email') Email
            .controls
              input#email(type='text', name="email", placeholder='user@example.com')
          .control-group
            label.control-label(for='email') Message
            .controls
              textarea#message.input-xlarge(name="message", placeholder='Hi')
          .control-group
                .controls
                    label.checkbox
                    input#eCard(type='checkbox', name="eCard")
                    | Would you like to have an email sent with my contact info?
          .control-group(style="display:none;")
                .controls
                    label.checkbox
                    input#guestB(type='checkbox', name="guestB")
                    | Make my message (not email) viewable on the guestbook!
          div#validateAlert.alert(style="display:none;")
            button.close(type="button", data-dismiss="alert")|&times;
        .modal-footer
          a#Contact_Ok.btn.btn-primary(href='#') OK
          a.btn(href='#', data-dismiss='modal') Cancel
    div(class="container")
      block content

      footer
        script(type="text/javascript")
          var socket;
          (function($){
            var serverAddress = "#{serverAddress}"
            console.log("Connecting socket to: " + serverAddress);
            socket = io.connect(serverAddress);

            console.log($('#Contact_Ok'));

            $('#Contact_Ok').click(function(){
                var contactRequest = {};
                contactRequest.name = $('#name').val();
                contactRequest.org = $('#org').val();
                contactRequest.email = $('#email').val();
                contactRequest.message = $('#message').val();
                contactRequest.eCard = ($('#eCard').is(':checked'));
                contactRequest.public = ($('#guestB').is(':checked'));
                console.log(contactRequest);

                if(formValidate(contactRequest)){
                  socket.emit('contact_post', {contact: contactRequest});
                  $('#validateAlert').css("display", "none");
                  $('#contact_modal').modal('hide');
                }

                
              });

            var formValidate = function(request){
              try{
                check(request.name).len(3,128);
              } catch(e){
                $('#validateAlert').text("Name must be between 3 and 128 characters");
                $('#validateAlert').css("display", "inline");
                return false;
              }
              try{
                check(request.email).len(6,64).isEmail();
              } catch(e){ 
                $('#validateAlert').text("Email is not valid.");
                $('#validateAlert').css("display", "inline");
                return false;
              }
              try{
                check(request.org).len(0,128);
              } catch(e){
                $('#validateAlert').text("Organization must be less than 128 characters");
                $('#validateAlert').css("display", "inline");
                return false;
              }
              try{
                check(request.message).len(0,1024);
              } catch(e){
                $('#validateAlert').text("Your message must be no greater than 1024 characters");
                $('#validateAlert').css("display", "inline");
                return false;
              }
              return true;
            }
          })(jQuery);
        script(src="/js/script.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/bootstrap-tab.js")
        script(src="/js/bootstrap-modal.js")
        script(src="/js/bootstrap-modalmanager.js")