body {
    margin: 0px;
    overflow: hidden;
}


#content3d{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: -1;
}

.portfolio-listItem{
    cursor: pointer;
}

#contentSubTitle{
	float: left;
}

/*#vidContainer{
	width:100%;
	text-align: center;
	position: relative;
	top:-40px;
}

#player{
	display: inline-block;

}*/

.modal-body {
    max-height: 900px;
}

.modal.large{
/*  width: 780px;
  margin-left: -390px; /* - width/2 */
}