<div class="body">
    <h1> Hey there <%=name %>!</h1>
    <p> You requested a eCard from Jeremy Bernstein: </p>
    
    <p> Website: <a href="23.23.215.106">23.23.125.106</a></p>
    <p> Email: dr.jerm.io@gmail.com</p>
    <p> Resume: <a href="23.23.215.106/resume">Here</a></p>
    <br />
    <p> Thank you so much for your interest!</p>
</div>