<div class="body">
    <h1> Someone left you a message on your portfolio!</h1>
    <p> Here's your message: </p>
    
    <p> Name: <%=name %></p>
    <p> Organization: <%=org %></p>
    <p> Email: <%=email %></p>
    <p> Message: <%=message %></p>
</div>